In [15]:
# Dependencies
import pandas as pd
import numpy as np

In [16]:
loans_df = pd.read_csv('LoanStats_2017Q1 2.csv')
loans_df

C:\Users\jwag2\anaconda3\envs\mlenv\lib\site-packages\IPython\core\interactiveshell.py:3186: DtypeWarning: Columns (112) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
0,NaN,NaN,3600,3600,3600,36 months,7.49%,111.97,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,15000,15000,15000,60 months,14.99%,356.78,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,8400,8400,8400,36 months,11.39%,276.56,B,B3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000,36 months,10.49%,130.00,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,6000,6000,6000,36 months,7.24%,185.93,A,A3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96774,NaN,NaN,30000,30000,30000,60 months,21.49%,819.90,D,D5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96775,NaN,NaN,15000,15000,15000,36 months,12.74%,503.54,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96776,NaN,NaN,10000,10000,10000,36 months,8.24%,314.48,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96777,NaN,NaN,6325,6325,6325,36 months,15.99%,222.34,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96778,NaN,NaN,15625,15625,15625,60 months,28.69%,493.03,F,F1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
print(loans_df.dtypes)

id                                     float64
member_id                              float64
loan_amnt                                int64
funded_amnt                              int64
funded_amnt_inv                          int64
                                        ...
sec_app_open_il_6m                     float64
sec_app_num_rev_accts                  float64
sec_app_chargeoff_within_12_mths       float64
sec_app_collections_12_mths_ex_med     float64
sec_app_mths_since_last_major_derog    float64
Length: 122, dtype: object

In [18]:
loans_df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,url,desc,dti,...,revol_bal_joint,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_il_6m,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog
count,0.0,0.0,96779.000000,96779.000000,96779.000000,96779.000000,9.677900e+04,0.0,0.0,96779.000000,...,1025.000000,1025.00000,1025.000000,1025.000000,1019.000000,1025.000000,1025.000000,1025.000000,1025.000000,356.000000
mean,NaN,NaN,14858.279947,14858.279947,14853.928022,450.885696,8.276104e+04,NaN,NaN,22.107865,...,28634.799024,0.65561,1.721951,11.600000,59.096271,2.901463,13.268293,0.021463,0.064390,38.797753
std,NaN,NaN,9396.273231,9396.273231,9393.128515,283.501239,2.149442e+05,NaN,NaN,185.235747,...,20339.923227,0.99286,1.841300,6.303521,24.207683,3.260956,8.477637,0.180947,0.268369,23.545068
min,NaN,NaN,1000.000000,1000.000000,1000.000000,30.120000,0.000000e+00,NaN,NaN,-1.000000,...,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,NaN,7800.000000,7800.000000,7800.000000,244.300000,4.900000e+04,NaN,NaN,12.240000,...,14384.000000,0.00000,0.000000,7.000000,41.700000,1.000000,7.000000,0.000000,0.000000,18.000000
50%,NaN,NaN,12000.000000,12000.000000,12000.000000,372.710000,7.000000e+04,NaN,NaN,17.990000,...,23848.000000,0.00000,1.000000,11.000000,61.200000,2.000000,12.000000,0.000000,0.000000,38.000000
75%,NaN,NaN,20000.000000,20000.000000,20000.000000,602.300000,9.950000e+04,NaN,NaN,24.350000,...,36388.000000,1.00000,3.000000,15.000000,78.550000,4.000000,17.000000,0.000000,0.000000,57.000000
max,NaN,NaN,40000.000000,40000.000000,40000.000000,1715.420000,6.100000e+07,NaN,NaN,9999.000000,...,170412.000000,6.00000,15.000000,46.000000,106.800000,28.000000,90.000000,4.000000,2.000000,105.000000

In [19]:
loans_df.isnull().sum()

id                                     96779
member_id                              96779
loan_amnt                                  0
funded_amnt                                0
funded_amnt_inv                            0
                                       ...
sec_app_open_il_6m                     95754
sec_app_num_rev_accts                  95754
sec_app_chargeoff_within_12_mths       95754
sec_app_collections_12_mths_ex_med     95754
sec_app_mths_since_last_major_derog    96423
Length: 122, dtype: int64

In [20]:
loans_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96779 entries, 0 to 96778
Columns: 122 entries, id to sec_app_mths_since_last_major_derog
dtypes: float64(43), int64(55), object(24)
memory usage: 90.1+ MB

In [22]:
loans_df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths',
       'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util',
       'sec_app_open_il_6m', 'sec_app_num_rev_accts',
       'sec_app_chargeoff_within_12_mths',
       'sec_app_collections_12_mths_ex_med',
       'sec_app_mths_since_last_major_derog'],
      dtype='object', length=122)

In [23]:
loans_df.shape

(96779, 122)